body {
    display: flex;
    justify-content: center;
}

#container {
    width: 1440px;
    height: 4410px;
    padding-top:  120px;
    display: flex;
    flex-direction: column;
    font-family: 'manrope';
}

.favicon {
    width: 41px;
    height: 50px;

}